_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
vendor
~/.vscode-root/storage.json
~/.vscode-root/rapid_render.json
~/.vscode-root/Cache/index-dir/the-real-index
~/.vscode-root/logs/20210429T154813/exthost1/output_logging_20210429T173224/4-SCSS Formatter.log
